<footer class="mt-auto">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <h5>{{ text_information }}</h5>
        <ul class="list-unstyled">
          {% if articles %}
            <li><x-link href="cms/topic" target="content">{{ text_blog }}</x-link></li>
          {% endif %}
          {% for information in informations %}
            <li><a href="information/information-{{ information.information_id }}" target="content">{{ information.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>{{ text_service }}</h5>
        <ul class="list-unstyled">
          <li><x-link href="information/contact" target="content">{{ text_contact }}</x-link></li>
          <li><x-link href="account/return_form" target="content">{{ text_return }}</x-link></li>
          {% if gdpr %}
            <li><x-link href="information/gdpr" target="content">{{ text_gdpr }}</x-link></li>
          {% endif %}
          <li><x-link href="information/sitemap" target="content">{{ text_sitemap }}</x-link></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>{{ text_extra }}</h5>
        <ul class="list-unstyled">
          <li><x-link href="catalog/manufacturer" target="content">{{ text_manufacturer }}</x-link></li>
          {% if affiliate %}
            <li><x-link href="account/affiliate" target="content">{{ text_affiliate }}</x-link></li>
          {% endif %}
          <li><x-link href="catalog/special" target="content">{{ text_special }}</x-link></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>{{ text_account }}</h5>
        <ul class="list-unstyled">
          <li><x-link href="account/account" target="content">{{ text_account }}</x-link></li>
          <li><x-link href="account/order" target="content">{{ text_order }}</x-link></li>
          <li><x-link href="account/wishlist" target="content">{{ text_wishlist }}</x-link></li>
          <li><x-link href="account/newsletter" target="content">{{ text_newsletter }}</x-link></li>
        </ul>
      </div>
    </div>
    <hr>
    <p>{{ text_powered | replace_first: '%s', config_name | replace_first: '%s', year }}</p>
    <!--
OpenCart is open source software and your free to remove the powered by OpenCart if you want, but its generally accepted practise to make a small donation.
Please donate via PayPal to donate@opencart.com
//-->
  </div>
</footer>

